
.jogo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #213547;
  height: 100vh;
  background-color: #f0f0f0;
  border: 1px solid red;
  gap: 20px;
}
.squares {
  display: grid;
  border: 1px solid blue;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}
.squares .square {
  border: 1px solid purple;
}
.square_click {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}