* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
}
.jogo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #213547;
  height: 100vh;
  background-color: #f0f0f0;
  gap: 20px;
}
.squares {
  display: grid;
  border: 1px solid blue;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}
.squares .square {
  border: 1px solid purple;
}
.square_click {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.info_status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info_status .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  font-size: 18px;
  align-items: center;
}