.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e0f7fa;
  gap: 20px;
}
.username {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}